description "Gunicorn daemon for Django project"

start on (local-filesystems and net-device-up IFACE=eth0)
stop on runlevel [!12345]

# If the process quits unexpectadly trigger a respawn

respawn

setuid {{ansible_user_id}}
setgid {{ansible_user_id}}

chdir /opt/meetup-basket

script
        exec /opt/envs/meetup_basket/bin/gunicorn \
                --name=meetup_basket \
                --bind=0.0.0.0:8001 \
                --log-file=/var/log/gunicorn.log \
                --access-logfile=/var/log/gunicorn/access.log \
                --error-logfile=/var/log/gunicorn/error.log \
                --env DJANGO_SETTINGS_MODULE='{{django_settings_module}}' \
                --env SECRET_KEY='{{secret_key}}' \
                --env MEETUP_API_KEY='{{meetup_api_key}}' \
                --env DB_PASSWORD='{{db_password}}' \
                meetup_basket.wsgi
end script

