{% extends 'base.html' %}

{% load static %}

{% block additional_css %}
  <link href="{% static "data-tables/css/jquery.dataTables.min.css" %}" rel="stylesheet">
  <link href="{% static "data-tables/css/jquery.dataTables_themeroller.css" %}" rel="stylesheet">
{% endblock additional_css %}

{% block content %}
  <h2>Balance</h2>

  <div class="btn-group">
    {% for s in seasons %}
      <a href="{% url 'balance' %}?season_id={{ s.pk }}" class="btn btn-default {% if s.pk == season.pk %}btn-primary{% endif %}">
        {{ s.name }}
      </a>
    {% endfor %}
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-3 col-sm-3 mb">
      <div class="white-panel pn balance-box">
        <div class="white-header">
          <h5>CURRENT BALANCE</h5>
        </div>
        <h3>{{ balance|default:0.0 }} &euro;</h3>
      </div>
      <!-- --/grey-panel ---->
    </div>
    <!-- /col-md-3-->

    <div class="col-md-3 col-sm-3 mb">
      <div class="white-panel pn balance-box">
        <div class="white-header">
          <h5>HALL RENT</h5>
        </div>
        <h3>{{ hall_rent|default:0.0 }} &euro;</h3>
      </div>
      <!-- -- /darkblue panel ---->
    </div>
    <!-- /col-md-3 -->

    <div class="col-md-3 col-sm-3 mb">
      <div class="white-panel pn balance-box">
        <div class="white-header">
          <h5>MEETUP FEE</h5>
        </div>
        <h3>{{ meetup_fee|default:0.0 }} &euro;</h3>
      </div>
    </div>
    <!-- --/col-md-3 ---->

    <div class="col-md-3 col-sm-3 mb">
      <div class="white-panel pn balance-box">
        <div class="white-header">
          <h5>MEMBERSHIP FEE</h5>
        </div>
        <h3>{{ membership_fee|default:0.0 }} &euro;</h3>
      </div>
    </div>
    <!-- --/col-md-3 ---->
  </div>

  <div class="content-panel">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <table id="members-table" class="table">
        <thead>
          <tr>
            <th>Member</th>
            <th>Meetup Fee</th>
            <th>Hall Rent</th>
            <th>Costs</th>
            <th>Contribution</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          {% for m in members %}
            <tr>
              <td>{{ m.name }}</td>
              <td>{{ m.meetup_fee|default:0.0|floatformat:2 }}</td>
              <td>{{ m.hall_rent|default:0.0 }}</td>
              <td>{{ m.costs|default:0.0|floatformat:2 }}</td>
              <td>{{ m.contribution|default:0.0 }}</td>
              <td>{{ m.balance|default:0.0|floatformat:2 }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
{% endblock content %}

{% block additional-scripts %}
  <script src="{% static "data-tables/js/jquery.dataTables.min.js" %}" type="text/javascript"></script>

  <script>
    $(document).ready(function () {
      $("#members-table").DataTable({
        "paging": false,
        "info": false,
        "filter": false,
        "order": [[ 5, "desc" ]],
        "footerCallback": function (row, data, start, end, display) {
          var api = this.api();

          $(api.column(1).footer()).html(
            api.column(1).data().reduce(function (a, b) {
              return parseFloat(a) + parseFloat(b);
            }, 0.0)
          );

          $(api.column(2).footer()).html(
            api.column(2).data().reduce(function (a, b) {
              return parseFloat(a) + parseFloat(b);
            }, 0.0)
          );

          $(api.column(3).footer()).html(
            api.column(3).data().reduce(function (a, b) {
              return parseFloat(a) + parseFloat(b);
            }, 0.0)
          );

          $(api.column(4).footer()).html(
            api.column(4).data().reduce(function (a, b) {
              return parseFloat(a) + parseFloat(b);
            }, 0.0)
          );

          $(api.column(5).footer()).html(
            api.column(5).data().reduce(function (a, b) {
              return parseFloat(a) + parseFloat(b);
            }, 0.0)
          );
        }
      });
    });
  </script>
{% endblock additional-scripts %}