{% extends 'base.html' %}

{% load static %}

{% block additional_css %}
  <link href="{% static "data-tables/css/jquery.dataTables.min.css" %}" rel="stylesheet">
  <link href="{% static "data-tables/css/jquery.dataTables_themeroller.css" %}" rel="stylesheet">
{% endblock additional_css %}

{% block content %}
  <h2>Hall rent per member</h2>

  <div class="btn-group">
    {% for s in seasons %}
      <a href="{% url 'hall-rent' %}?season_id={{ s.pk }}" class="btn btn-default {% if s.pk == season.pk %}btn-primary{% endif %}">
        {{ s.name }}
      </a>
    {% endfor %}
  </div>

  <br><br>

  <div class="content-panel">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
      <table id="payments-table" class="table">
        <thead>
          <tr>
            <th>Member</th>
            {% for event in events %}
              <th>{{ event.sequence_number }}</th>
            {% endfor %}
            <th>Sum</th>
          </tr>
        </thead>
        <tbody>
          {% for row in payments_table %}
            <tr>
              <td>{{ row.member }}</td>
              {% for column in row.data %}
                <td>{{ column.price|floatformat:3 }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            {% for column in payments_table.0.data %}
              <td></td>
            {% endfor %}
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
{% endblock content %}

{% block additional-scripts %}
  <script src="{% static "data-tables/js/jquery.dataTables.min.js" %}" type="text/javascript"></script>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });

    // enable dataTable
    $(document).ready(function () {
      $("#payments-table").DataTable({
        "paging": false,
        "info": false,
        "filter": false,
        "columnDefs": [
            { "type": "numeric-comma", targets: 1}
        ],
        "order": [[ {{ events|length }} + 1, "desc" ]],
        "footerCallback": function (row, data, start, end, display) {
          var api = this.api();

          for (var i = 1; i < data[0].length; i++) {
            $(api.column(i).footer()).html(
              Math.ceil(api.column(i).data().reduce(function (a, b) {
                return parseFloat(a) + parseFloat(b);
              }, 0.0) * 1000) / 1000  // round up to 3 decimal places
            );
          }
        }
      });
    });
  </script>
{% endblock additional-scripts %}