{% extends 'base.html' %}

{% block additional_css %}
  <style>
    h4 {
      margin: 0 !important;
    }


    hr {
      margin-top: 5px;
    }
  </style>
{% endblock additional_css %}

{% block content %}
  <h2>Past meetups</h2>

  {% if events %}
    {% for event in events %}
      <div class="content-panel">
        <div class="panel-heading">
          <a href="{{ event.event.event_url }}" target="_blank"><h3>{{ event.event.name }}</h3></a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4">
              {% if event.teams %}
                {% for team in event.teams %}
                  <h4>Team {{ team.name }} (wins: {{ team.match_win }}, loses: {{ team.match_lose }})</h4>

                  <ol>
                  {% for member in team.members.all %}
                    <li>{{ member.name }}</li>
                  {% endfor %}
                  </ol>
                {% endfor %}
              {% else %}
                <p>No data for this meetup.</p>
              {% endif %}
            </div>
            {% if event.event.get_matches %}
              <div class="col-lg-4">
                <h4>Matches</h4><br>

                <table class="table table-condensed">
                  <tbody>
                    {% for match in event.event.get_matches %}
                      <tr>
                        <td>Team {{ match.team_a.name }}</td>
                        <td>{{ match.points_a }}</td>
                        <td>:</td>
                        <td>{{ match.points_b }}</td>
                        <td>Team {{ match.team_b.name }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <br>
    {% endfor %}
  {% endif %}

{% endblock content %}