{% extends 'base.html' %}

{% load static %}

{% block additional_css %}
  <link href="{% static "data-tables/css/jquery.dataTables.min.css" %}" rel="stylesheet">
  <link href="{% static "data-tables/css/jquery.dataTables_themeroller.css" %}" rel="stylesheet">
{% endblock additional_css %}

{% block content %}
  <h2>Members</h2>

  <!-- Season selection -->
  <div id="filter-season" class="btn-group">
    {% for s in seasons %}
      <button value="{{ s.pk }}" class="btn btn-default {% if s.pk == season.pk %}btn-primary{% endif %}">
        {{ s.name }}
      </button>
    {% endfor %}
  </div>

  <!-- Attendance filter -->
  <div id="filter-attendance" class="btn-group">
    <button class="btn btn-default {% if attendance == 'all' %}btn-primary{% endif %}" value="all">All</button>
    <button class="btn btn-default {% if attendance == 0 %}btn-primary{% endif %}" value="0">Attendance > 0%</button>
    <button class="btn btn-default {% if attendance == 50 %}btn-primary{% endif %}" value="50">Attendance > 50%</button>
  </div>

  <br><br>

  {% if members %}
    <div class="content-panel">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <table id="members-table" class="table">
          <thead>
            <tr>
              <th></th>
              <th>Player</th>
              <th>Height</th>
              <th>Meetups attended</th>
              <th>Games played</th>
              <th>Wins</th>
              <th>Loses</th>
              <th>Coefficient</th>
              <th>+/-</th>
              <th>+/- [avg]</th>
            </tr>
          </thead>
          <tbody>
            {% for member in members %}
              <tr>
                <td></td>
                <td>{{ member.name }}</td>
                <td>{{ member.height }}</td>
                <td>{{ member.meetups_attended }}</td>
                <td>{{ member.games_played }}</td>
                <td>{{ member.count_wins }}</td>
                <td>{{ member.count_loses }}</td>
                <td>{{ member.win_lose_coefficient|floatformat:2 }}</td>
                <td>{{ member.basket_diff }}</td>
                <td>{{ member.basket_diff_avg|floatformat:2 }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div><!-- ./content-panel -->

    <br>
    <br>

    <div class="content-panel">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div id="coefficients-graph-container"></div>
      </div>
    </div><!-- ./content-panel -->
  {% endif %}
{% endblock content %}

{% block additional-scripts %}
  <!-- Data tables -->
  <script src="{% static 'data-tables/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>

  <!-- Highcharts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>

  <!-- dataTable -->
  <script>
    $(document).ready(function () {
      var t = $("#members-table").DataTable({
        "paging": false,
        "info": false,
        "filter": false,
        "order": [[ 7, "desc" ]]
      });

      t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
      }).draw();
    });
  </script>

  <!-- Coefficients graph -->
  <script>
    $(document).ready(function () {
      $.ajax({
        type: "GET",
        url: "{% url 'coefficients_over_meetups_graph' %}",
        data: {
          season_id: "{{ season_id }}",
          attendance: "{{ attendance }}"
        },
        success: function (data) {
          $('#coefficients-graph-container').highcharts({
            chart: {
              zoomType: "x"
            },
            title: {
              text: 'Coefficients over time',
              x: -20 //center
            },
            xAxis: {
              categories: data.categories
            },
            yAxis: {
              title: {
                text: 'Coefficient'
              },
              plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
              }]
            },
            legend: {
              borderWidth: 0
            },
            plotOptions: {
              line: {
                lineWidth: 3,
                marker: {
                  enabled: false
                }
              }
            },
            series: data.series
          });
        }
      });
    });
  </script>

  <!-- Filter handlers -->
  <script>
    $("#filter-attendance button").on("click", function () {
      var attendance = $(this).val();
      var season_id = $("#filter-season button.btn-primary").val();
      window.location.href = "{% url 'members' %}?attendance=" + attendance + "&season_id=" + season_id;
    });

    $("#filter-season button").on("click", function () {
      var attendance = $("#filter-attendance button.btn-primary").val();
      var season_id = $(this).val();
      window.location.href = "{% url 'members' %}?attendance=" + attendance + "&season_id=" + season_id;
    });
  </script>
{% endblock additional-scripts %}