{% extends 'base.html' %}

{% block additional_css %}

{% endblock additional_css %}

{% block content %}
  <h2>Payments</h2>

  <br>

  <div class="content-panel">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Member</th>
            {% for event in events %}
              <th>{{ event.sequence_number }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in payments_table %}
            <tr>
              <td>{{ row.member }}</td>
              {% for column in row.data %}
                <td data-toggle="tooltip" data-placement="top" title="RSVP: {{ column.rsvp }}, Attendance: {{ column.attended }}, Weight: {{ column.weight }}">{{ column.price }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


{% endblock content %}

{% block additional-scripts %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock additional-scripts %}