{% extends 'base.html' %}

{% load static %}

{% block content %}
  <h2>Team generator</h2>

  {% if calculated %}
    <a class="pull-right btn btn-default btn-sm" href="{% url 'team_generator_export' %}" target="_blank">
      <i class="fa fa-download"></i>&nbsp;
      Export teams
    </a>
  {% endif %}

  <h4>Next event: {{ next_event.name }}</h4>

  <br>

  {% if calculated %}
    {% for team, team_data in teams.items %}
      <div class="content-panel">
        <div class="panel-heading">
          <h3>{{ team }} <small>height: {{ team_data.height|floatformat:1 }}, coef. weighted: {{ team_data.coef|floatformat:3 }}, diff: {{ team_data.diff }}, avg. diff weighted: {{ team_data.avg_diff|floatformat:2 }}</small></h3>
        </div>

        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Player</th>
                <th>Height</th>
                <th>Games played</th>
                <th>Weight</th>
                <th>Wins</th>
                <th>Loses</th>
                <th>Coefficient</th>
                <th>+/-</th>
                <th>+/- [avg]</th>
              </tr>
            </thead>
            <tbody>
              {% for member in team_data.members %}
                <tr>
                  <td>{{ member.name }}</td>
                  <td>{{ member.height }}</td>
                  <td>{{ member.games_played }}</td>
                  <td>{{ member.weight|floatformat:2 }}</td>
                  <td>{{ member.count_wins }}</td>
                  <td>{{ member.count_loses }}</td>
                  <td>{{ member.win_lose_coefficient|floatformat:2 }}</td>
                  <td>{{ member.basket_diff|floatformat:0 }}</td>
                  <td>{{ member.basket_diff_avg|floatformat:2 }}</td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <br>
    {% endfor %}

  {% else %}
    <div class="alert alert-info">Teams haven't been calculated yet.</div>
  {% endif %}
{% endblock content %}

{% block additional-scripts %}
  <script src="{% static "data-tables/js/jquery.dataTables.min.js" %}" type="text/javascript"></script>

  <script>
    $(document).ready(function () {
      $(".table").DataTable({
        "paging": false,
        "info": false,
        "filter": false,
        "order": [[ 6, "desc" ]],
        "footerCallback": function (row, data, start, end, display) {
          var api = this.api();

          var avgs = [1, 6, 8];
          var sums =  [2, 4, 5, 7];

          avgs.forEach(function(i) {
            $(api.column(i).footer()).html(
              Math.ceil(api.column(i).data().reduce(function (a, b) {
                return parseFloat(a) + parseFloat(b);
              }, 0.0) / end * 100) / 100
            );
          });

          sums.forEach(function(i) {
            $(api.column(i).footer()).html(
              Math.ceil(api.column(i).data().reduce(function (a, b) {
                return parseFloat(a) + parseFloat(b);
              }, 0.0) * 100) / 100
            );
          })
        }
      })
    });
  </script>
{% endblock %}
