{% extends 'base.html' %}

{% block additional_css %}
  <style>
    section.wrapper div.mt {
      padding-top: 0;
      margin-top: 0;
    }

    div.content-panel {
      padding-top: 0;
    }

    div.panel-heading {
      padding-top: 5px;
      padding-bottom: 0;
    }

    div.panel-body {
      padding-top: 0;
    }

    table.table {
      margin-bottom: 0;
    }
  </style>
{% endblock additional_css %}

{% block content %}
  <h2>Teams generated for <strong>{{ event.name }}</strong></h2>

  <br>

  {% for team, team_data in teams.items %}
    <div class="content-panel">
      <div class="panel-heading">
        <h3>{{ team }} <small>{{ team_data.coef }}</small></h3>
      </div>

      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Player</th>
              <th>Games played</th>
              <th>Wins</th>
              <th>Loses</th>
              <th>Coefficient</th>
            </tr>
          </thead>
          <tbody>
            {% for member in team_data.members %}
              <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.games_played }}</td>
                <td>{{ member.count_wins }}</td>
                <td>{{ member.count_loses }}</td>
                <td>{{ member.win_lose_coefficient }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <br>
  {% endfor %}


{% endblock content %}