{% extends 'base.html' %}

{% block content %}
  <h2>Team generator</h2>

  {% if calculated %}
    <a class="pull-right btn btn-default btn-sm" href="{% url 'team_generator_export' %}" target="_blank">
      <i class="fa fa-download"></i>&nbsp;
      Export teams
    </a>
  {% endif %}

  <h4>Next event: {{ next_event.name }}</h4>

  <br>

  {% if calculated %}
    {% for team, team_data in teams.items %}
      <div class="content-panel">
        <div class="panel-heading">
          <h3>{{ team }} <small>height: {{ team_data.height|floatformat:1 }}, coef: {{ team_data.coef|floatformat:3 }}, diff: {{ team_data.diff }}, avg. diff: {{ team_data.avg_diff|floatformat:2 }}</small></h3>
        </div>

        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Player</th>
                <th>Height</th>
                <th>Games played</th>
                <th>Wins</th>
                <th>Loses</th>
                <th>Coefficient</th>
                <th>+/-</th>
                <th>+/- [avg]</th>
              </tr>
            </thead>
            <tbody>
              {% for member in team_data.members %}
                <tr>
                  <td>{{ member.name }}</td>
                  <td>{{ member.height }}</td>
                  <td>{{ member.games_played }}</td>
                  <td>{{ member.count_wins }}</td>
                  <td>{{ member.count_loses }}</td>
                  <td>{{ member.win_lose_coefficient|floatformat:2 }}</td>
                  <td>{{ member.basket_diff|floatformat:0 }}</td>
                  <td>{{ member.basket_diff_avg|floatformat:2 }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <br>
    {% endfor %}

  {% else %}
    <div class="alert alert-info">Teams haven't been calculated yet.</div>
  {% endif %}
{% endblock content %}
